html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

.tab-content .active {
    margin-bottom: 50px;
}

#first_img {
    width: 150px;
    height: 150px;
}
#scd_img {
    width: 100px;
    height: 100px;

}
#thrd_img {
    width: 180px;
    height: 200px;
}
#frth_img {
    width: 140px;
    height: 200px;
}

div.nav-item {
    margin-bottom: 50px;
}

footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 160px;
    width: 100%;
    overflow: hidden;
}

.my_btn {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 10px;
    font-family: inherit;
    text-align: center;
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: left 5px;
    background-position-y: top 2px;
    margin: 10px;
}
.my_btn:hover {
    background-color: #0069d9;
    border-color: #0069d9;
}
.my_btn.form_name {
    background-image: url("icons/icons8-form-name.png");
}
.my_btn.owner {
    background-image: url("icons/icons8-owner.png");
}
.my_btn.text_fields{
    background-image: url("icons/icons8-text-fields.png");
}
.my_btn.non_text_fields{
    background-image: url("icons/icons8-non-text-field.png");
}
.my_btn.reset{
    background-image: url("icons/icons8-reset.png");
}
